body{
	margin: 0;
	font-size: 20px;
	background-color: #e6e8ff;
}

h1, h2, ol, ul{
	font-family: 'Trade Winds', cursive;
}


header{
	text-align: center;
	padding: 50px;
	background-image: url("../images/thor-header.jpg");
	background-position: top center;
}

header h1{
	color: #e6e8ff;
	font-size: 50px;
	text-shadow: 0 4px 20px black;
}

header img{
	border-radius: 150px;
    width: 300px;
    box-shadow: 0 4px 20px black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main p{
	font-family: 'Trade Winds', cursive;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: #0a1152;
	margin: 40px 0 10px;
}

a{
	color: #0a1152;
}

a:hover{
	color: #a2141a;
}

footer{
	background-color: #0a1152;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}

li.hidden{
	list-style-type: none;
}